.menuPortada{
    position: relative;
}
.menuPortada div{
    position: absolute;
    bottom: 50px;
    background-color: aliceblue;
    color: #1c19f6;
    width: 50%;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}
.portada{
    width: 100vw;    
}

.mvv{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.mvvBox{
    width: 33%;
    padding: 3%;
    padding-top: 0;
    margin-top: 3%;
    text-align: justify;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
ul{
    list-style: none;
    padding-inline-start: 10px;
}
.mvvBox h2{
    background-color: #1c19f6;
    background-image: linear-gradient(to right, #1c19f6, #706efc );
    color: #f37805;
    padding: 0 10px;
}
p{
    padding: 0 10px;
}
.maps{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #1c19f6;
}
.mapsDire{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.maps iframe{
    border-radius: 10px;
    box-shadow: 0px 0px 10px #f37805;
}
@media (max-width: 768px){
    .mvv{
        flex-direction: column;
    }
    .mvvBox{
    width: 100%;
    margin-top: 20px;
    }
    /* .portada{
    margin-top: 50px;  
    } */
    .menuPortada div h1{
        font-size: 1em;
    }
}
@media (max-width: 650px){
    .mvvBox{
    margin-top: 20px;
    }
    .maps{
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;  
  }
    .mapsDire{
        width: 70%;
    }
    .maps iframe{
        width:70%;
    }
}
@media (max-width: 500px){
    .portada{
    margin-top: 0px; 
    height: 200px; 
    }
    .menuPortada div{
        width: 70%;
        bottom: 30px;
    }
}
