.App {
  text-align: center;
  color: grey;
}
.App-header {
  background-color: #f37805;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
}
.cont{
  margin-top: 40px;
  height: auto;
}
